body{
    margin: 0;
    padding: 0;
    background-color: rgb(220, 214, 238);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.container{
    display: flex;
    flex-direction: column;
    max-width:500px;
    align-items: center;
    border: solid;
    margin: 60px auto;
    background-color:whitesmoke ;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(59, 59, 59, 0.1);
}
form{
    margin-bottom: 1rem;
    padding-right: 20px;
}

 label{
    display: block;
    margin-top: 5px;
    margin-bottom: 3px;
}
button{
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(159, 159, 243);
    border: none;
}
#displayMessage{
    margin-bottom: 10px;
}
.error{
    color: red;
}
.success{
    color: green;
}
